div {
  display: flex;
  flex-wrap: wrap;
   justify-content: space-between;
}
figure {
  margin: 0;
  overflow: hidden;
}

figcaption {
  margin-top: 15px;
}
img {
  border: none;
  height: 200px;
  width: 200px;
  height: auto;
  display: block;
  background: #ccc;
}
h1{
  text-decoration-color:
  font-family: 'Vesper Libre', serif;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
p{
  text-align: left;
  font-family: Georgia, "Times New Roman", serif;
}
